apiVersion: v1
kind: Config
clusters:
- cluster:
%{ if insecure_skip_tls_verify }    insecure-skip-tls-verify: true
%{ else }    certificate-authority-data: ${ca_cert_b64}
%{ endif }    server: https://${server_ip}:${server_port}
  name: ${cluster_name}
contexts:
- context:
    cluster: ${cluster_name}
    namespace: default
    user: ops-user
  name: ops@${cluster_name}
current-context: ops@${cluster_name}
users:
- name: ops-user
  user:
    token: ${token}
